body{
    margin:0 auto;
    padding:0;
    font-family: sans-serif;
    background-color: #f08c19ef;
    
}
header{
    text-align:center;
}
.wrapper{
    width: 90%;
    margin:0 auto;
    background-color:rgba(255, 238, 0, 0.89);
    padding: 0;
    box-shadow:7px 0px 10px rgba(0,0,0,.6), -7px 0px 10px rgba(0,0,0,.6);

}
section{
    padding:1%;
}
.headerImage img{
    max-height: 100vh;
    max-width: 100%;
}
nav a{
    padding:0.7% 2.5%;
    margin:2% 1%;
    text-decoration: none;
    border-top:3px solid black;
    border-bottom: 3px solid black;
    transition:all 0.5s;
    color:black;
    font-family: sans-serif;
}
nav{
    margin:2%;
}
nav a:hover{
    box-shadow: 0 1px 1px red;
    text-shadow: 0 1px 1px red;
    background-color: tomato;
}
.button1{
    text-decoration:none;
    border:none;
    background:red;
    color:white;
    font-weight:100;
    padding:10px;
    transition:all 0.5s ease 0;
    display:inline-block;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20;
    box-shadow:7px 0px 10px rgba(0,0,0,.6), -7px 0px 10px rgba(0,0,0,.6) ;
}